body {
  background-color: #fef5f5;
}

.navbar li p {
  color: black;
}

.navbar li.active p {
  color: #f55253;
}

.navbar li:hover p {
  color: darkred;
}

.ImgBrand {
  width: 20%;
  height: auto;
}

.ObjTag {
  width: fit-content;
}

.tes {
  background-color: white;
}

/*Home Page*/
.homePage {
  background-color: white;
}

.homePage .pHome {
  background-color: #fdecec;
  color: #f55556;
  width: fit-content;
  padding: 3px;
}

.homePage .hourColor {
  color: #f55556;
}

.homePage h1 {
  font-size: 65px;
}

/*---------------------------------------*/

/*Consult Page*/

/*---------------------------------------*/